In [25]:
#working with csv file
import pandas as pd
import numpy as np
csv_1 = pd.read_csv("C:\\Users\\ACER\\Desktop\\car_price_prediction_.csv")
csv_1

,Car ID,Brand,Year,Engine Size,Fuel Type,Transmission,Mileage,Condition,Price,Model
0,1,Tesla,2016,2.3,Petrol,Manual,114832,New,26613.92,Model X
1,2,BMW,2018,4.4,Electric,Manual,143190,Used,14679.61,5 Series
2,3,Audi,2013,4.5,Electric,Manual,181601,New,44402.61,A4
3,4,Tesla,2011,4.1,Diesel,Automatic,68682,New,86374.33,Model Y
4,5,Ford,2009,2.6,Diesel,Manual,223009,Like New,73577.10,Mustang
...,...,...,...,...,...,...,...,...,...,...
2495,2496,Audi,2020,2.4,Petrol,Automatic,22650,Like New,61384.10,Q5
2496,2497,Audi,2001,5.7,Hybrid,Manual,77701,Like New,24710.35,A3
2497,2498,Ford,2021,1.1,Hybrid,Manual,272827,Like New,29902.45,Fiesta
2498,2499,Audi,2002,4.5,Diesel,Manual,229164,Like New,46085.67,Q5
2499,2500,Toyota,2005,4.6,Diesel,Automatic,80978,Used,16594.14,RAV4

In [26]:
x = csv_1.iloc[:7,:]
x

,Car ID,Brand,Year,Engine Size,Fuel Type,Transmission,Mileage,Condition,Price,Model
0,1,Tesla,2016,2.3,Petrol,Manual,114832,New,26613.92,Model X
1,2,BMW,2018,4.4,Electric,Manual,143190,Used,14679.61,5 Series
2,3,Audi,2013,4.5,Electric,Manual,181601,New,44402.61,A4
3,4,Tesla,2011,4.1,Diesel,Automatic,68682,New,86374.33,Model Y
4,5,Ford,2009,2.6,Diesel,Manual,223009,Like New,73577.10,Mustang
5,6,Audi,2019,2.4,Diesel,Automatic,246553,Like New,88969.76,Q7
6,7,Audi,2020,4.0,Electric,Automatic,135486,Used,63498.75,Q5

In [32]:
price = x['Price'].iloc[:7]
print("price of 7 cars is:(in usd $)\n",price)
print("total price of 7 cars is:(in usd $)\n",np.sum(price))

price of 7 cars is:(in usd $)
 0    26613.92
1    14679.61
2    44402.61
3    86374.33
4    73577.10
5    88969.76
6    63498.75
Name: Price, dtype: float64
total price of 7 cars is:(in usd $)
 398116.08

In [31]:
#total_price of all 2500 cars
total_sum = np.sum(csv_1['Price'].iloc[:])
print("total_price of all 2500 cars is (in usd $):\n",total_sum)

total_price of all 2500 cars is (in usd $):
 131595056.33